In [2]:
# 117
pos = input()
mapping = {'a':0, 'b':1, 'c':2, 'd':3, 'e':4, 'f':5, 'g':6, 'h':7}
pos = (mapping[pos[0]], int(pos[1])-1)
steps = [(-2, 1), (-2, -1), (2, -1), (2, 1), (1, -2), (-1, -2), (1, -2), (1, 2)]

cnt = 0
for step in steps:
    moved = (pos[0] + step[0], pos[1] + step[1])
    print(moved)
    if moved[0] < 0 or moved[0] > 7 or moved[1] < 0 or moved[1] > 7:
        continue
    cnt += 1
print(cnt)

(-2, 1)
(-2, -1)
(2, -1)
(2, 1)
(1, -2)
(-1, -2)
(1, -2)
(1, 2)
2

In [16]:
# 4-4py 121p
n, m = map(int, input().split())
x, y, dir = map(int, input().split())

field = []
visited = [[0] * m for _ in range(n)]

for i in range(n):
    row = [int(r) for r in input().split()]
    field.append(row)

cur = [x, y, dir]
dx = [-1, 0, 1, 0]
dy = [0, 1, 0, -1]

total_cnt, fin_cnt = 1, 0 # 시작점 위치를 방문했으니, total_cnt는 1부터 시작

while True:
    # 왼쪽방향 확인
    if cur[2] - 1 > 0:
        cur[2] = cur[2]-1
    else:
        cur[2] = 3
    print(cur)
    
    nx = cur[0] + dx[cur[2]]
    ny = cur[1] + dy[cur[2]]
    
    if field[nx][ny] == 0 and visited[nx][ny] == 0: # 갈 곳이 없음
        fin_cnt = 0
        total_cnt += 1
        visited[nx][ny] = 1
        cur[0], cur[1] = nx, ny
        continue
    else:
        fin_cnt += 1# 갈 수 있는 경우
        
        
    if fin_cnt == 4: # 기존 방향으로 돌아왔을 때,
        nx = cur[0] - dx[cur[2]]
        ny = cur[1] - dy[cur[2]]
        
        if field[nx][ny] == 0:
            x = nx
            y = ny
        else:
            break

print(total_cnt)

[1, 1, 3]
[1, 1, 2]
[1, 1, 1]
[1, 2, 3]
[1, 1, 2]
[1, 1, 1]
[1, 1, 3]
[1, 1, 2]
2

In [9]:
field

[[1, 1, 1, 1], [1, 0, 0, 1], [1, 1, 0, 1], [1, 1, 1, 1]]

In [4]:
import pandas as pd

# 데이터프레임 생성
data = {'A': [1, 2, 3]}
df = pd.DataFrame(data)
df

   A
0  1
1  2
2  3

In [12]:
# 새로운 열 B 추가 (모든 행에 동일한 값)
df['B'] = 5

# 새로운 열 C 추가 (리스트를 사용한 값 추가)
df['C'] = [10, 20, 30]

In [2]:
df

   A  B   C
0  1  5  10
1  2  5  20
2  3  5  30

In [5]:
df = df.assign(D=df['A'] * 2)

In [6]:
df

   A  D
0  1  2
1  2  4
2  3  6

In [7]:
df.loc[:, 'E'] = [100, 200, 300]

In [8]:
df

   A  D    E
0  1  2  100
1  2  4  200
2  3  6  300

In [10]:
import numpy as np
# 조건에 따른 새로운 열 F 추가
df['F'] = np.where(df['A'] > 1, '크다', '작다')

In [11]:
df

   A  D    E   F
0  1  2  100  작다
1  2  4  200  크다
2  3  6  300  크다

In [14]:
# 기존 열을 이용해 새로운 열 G 추가
df['G'] = df['A'] + df['C']
df

   A  D    E   F  B   C   G
0  1  2  100  작다  5  10  11
1  2  4  200  크다  5  20  22
2  3  6  300  크다  5  30  33

In [15]:
# insert()를 사용한 열 추가 (0번째 위치에 열 H 추가)
df.insert(0, 'H', [7, 8, 9])
df

   H  A  D    E   F  B   C   G
0  7  1  2  100  작다  5  10  11
1  8  2  4  200  크다  5  20  22
2  9  3  6  300  크다  5  30  33

In [16]:
# 빈 열 J 추가 (모든 값이 None)
df['J'] = None

# numpy의 nan을 사용해 빈 열 K 추가
import numpy as np
df['K'] = np.nan

In [17]:
df

   H  A  D    E   F  B   C   G     J   K
0  7  1  2  100  작다  5  10  11  None NaN
1  8  2  4  200  크다  5  20  22  None NaN
2  9  3  6  300  크다  5  30  33  None NaN

In [18]:
# apply()를 사용해 새로운 열 I 추가
df['I'] = df.apply(lambda row: row['A'] + row['C'], axis=1)

In [19]:
df

   H  A  D    E   F  B   C   G     J   K   I
0  7  1  2  100  작다  5  10  11  None NaN  11
1  8  2  4  200  크다  5  20  22  None NaN  22
2  9  3  6  300  크다  5  30  33  None NaN  33

In [58]:
n, m = map(int, input().split())
trees = list(map(int, input().split()))
start, end = 0, max(trees)
res = 0

while start <= end:
    mid = (start + end) // 2
    sum_len = 0
    
    for tree in trees:
        sum_len += max(tree - mid, 0)
    
    if sum_len >= m:
        start = mid + 1
        res = mid
    else:
        end = mid - 1
        
print(res)

2

In [56]:
start, end

(1424197980, 1424197981)

In [21]:
start, end

(0, 0)

In [26]:
n, m = map(int, input().split())

arr = [int(i) for i in input().split()]

cnt = 0
one, two = 0, 1

for i in range(1, len(arr)):
    arr[i] = arr[i] + arr[i-1]

while one < two:
    if two == n:
        one += 1
        two = one + 1
    
    if one == n-1:
        break
    
    if (arr[one] == m) or (arr[two] - arr[one] == m):
        cnt += 1
    two += 1

print(cnt)

3

In [57]:
n, m = map(int, input().split())
arr = [int(i) for i in input().split()]

cnt = 0
left = 0
current_sum = 0

for right in range(n):
    current_sum += arr[right]

    while current_sum > m and left <= right:
        current_sum -= arr[left]
        left += 1
        
    if current_sum == m:
        cnt += 1

print(cnt)

0 0
1 0
2 1
3 2
4

In [6]:
x = int(input())
print(bin(X).count('1'))

4

In [3]:
print(bin(X))

0b10111

In [8]:
x = int(input())

current_length = 64
sticks = [current_length]  # 초기 막대는 64cm 하나
total_length = current_length

while total_length > x:
    # 가장 짧은 막대를 반으로 자르기
    shortest = sticks.pop()
    half_length = shortest // 2

    # 절반 중 하나는 리스트에 다시 넣음
    sticks.append(half_length)
    
    # 절반 중 하나를 버릴지 결정 (남은 길이의 합이 X 이상일 경우 하나 버림)
    if total_length - half_length >= x:
        total_length -= half_length  # 하나를 버림
    else:
        sticks.append(half_length)  # 버리지 않고 다시 사용
        
print(len(sticks))

4

In [13]:
n = int(input())
num = 666

while n-1:
    num += 1    
    if '666' in str(num):
        n -= 1

print(num)

6663

In [21]:
from copy import deepcopy
t = 2
m, n, k = map(int, input().split())

graph = [[0 for _ in range(m)] for _ in range(n)]

In [24]:
for _ in range(k):
    y, x = map(int, input().split())
    graph[x][y] = 1

In [25]:
graph

[[1, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 1, 1, 0, 0, 0, 1, 1, 1],
 [0, 0, 0, 0, 1, 0, 0, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [27]:
visited = [[False for _ in range(m)] for _ in range(n)]

In [33]:
from collections import deque

def bfs(next_x, next_y, graph, visited, n, m):
    dx = [0, 0, 1, -1]
    dy = [1, -1, 0, 0]

    queue = deque()
    queue.append((next_x, next_y))

    while queue:
        y, x = queue.popleft()
        if graph[x][y] == 0 or visited[x][y] != 0:
            continue
        
        for i in range(4):
            nx = x + dx[i]
            ny = y + dy[i]
            
            if 0 < nx < m and 0 < ny < n and not visited[nx][ny] and graph[nx][ny] == 1:
                visited[nx][ny] = True
                queue.append((nx, ny))
                
worm_count = 0

# 배추밭을 순회하면서 BFS를 통해 연결된 배추 그룹을 찾음
for y in range(n):
    for x in range(m):
        if graph[y][x] == 1 and not visited[y][x]:
            bfs(x, y, graph, visited, n, m)
            worm_count += 1

In [34]:
print(worm_count)

13