# ë°ì´í„° ê³¼ì œ - Pandas í™œìš© ì—°ìŠµ

In [ ]:
import pandas as pd

orders_data = {
    'order_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'user_id': [1, 2, 1, 3, 2, 3, 4, 4, 5, 1],
    'product': ['TV', 'Laptop', 'TV', 'Mouse', 'Keyboard', 'Mouse', 'Phone', 'Phone', 'TV', 'Tablet'],
    'price': [800000, 1200000, 750000, 50000, 100000, 45000, 900000, 950000, 700000, 300000],
    'order_date': ['2024-12-01', '2024-12-03', '2025-01-15', '2025-01-20', '2025-02-10', 
                   '2025-02-11', '2025-03-01', '2025-03-05', '2025-03-10', '2025-04-01'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories', 
                 'Accessories', 'Electronics', 'Electronics', 'Electronics', 'Electronics']
}
orders_df = pd.DataFrame(orders_data)
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])

users_data = {
    'user_id': [1, 2, 3, 4, 5],
    'age': [25, 32, 40, 28, 36],
    'gender': ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ë‚¨']
}
users_df = pd.DataFrame(users_data)

## ğŸ“„ ê³µí†µ ë°ì´í„°: `orders.csv`, `users.csv`

---

### âœ… ë¬¸ì œ 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
1-1. `orders.csv` íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ê³ , `order_date` ì»¬ëŸ¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜í•˜ì‹œì˜¤.  
1-2. ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ì€ ì œê±°í•˜ê³ , ì´ ëª‡ ê±´ì˜ ë°ì´í„°ê°€ ë‚¨ì•˜ëŠ”ì§€ ì¶œë ¥í•˜ì‹œì˜¤.

In [ ]:
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df.dropna(inplace=True)

print('ë‚¨ì€ ë°ì´í„° ê°œìˆ˜ : ', len(orders_df))

ë‚¨ì€ ë°ì´í„° ê°œìˆ˜ :  10

---

### âœ… ë¬¸ì œ 2. ì›”ë³„ ë§¤ì¶œ ë¶„ì„
2-1. ì›”(`YYYY-MM`) ë‹¨ìœ„ë¡œ ê·¸ë£¹í™”í•˜ì—¬ ë§¤ì¶œ(`price`) í•©ê³„ë¥¼ ê³„ì‚°í•˜ì‹œì˜¤.  
2-2. ê°€ì¥ ë§¤ì¶œì´ ë†’ì•˜ë˜ ë‹¬ì€ ì–¸ì œì´ë©°, ë§¤ì¶œì€ ì–¼ë§ˆì¸ê°€?

In [ ]:
orders_df['order_month'] = orders_df['order_date'].dt.to_period('M')
monthly_sales = orders_df.groupby('order_month')['price'].sum().sort_values(ascending=False)
print("ê°€ì¥ ë§¤ì¶œ ë†’ì€ ë‹¬:", monthly_sales.idxmax(), "ë§¤ì¶œ:", monthly_sales.max())

         order_id  user_id    price
monthly
2024-12       203        3  2000000
2025-01       207        4   800000
2025-02       211        5   145000
2025-03       324       13  2550000
2025-04       110        1   300000
ê°€ì¥ ë§¤ì¶œ ë†’ì€ ë‹¬: 2025-03 ë§¤ì¶œ: 2550000

---

### âœ… ë¬¸ì œ 3. ì‚¬ìš©ì ë¶„ì„
3-1. ì‚¬ìš©ìë³„ í‰ê·  ì£¼ë¬¸ ê¸ˆì•¡ì„ ê³„ì‚°í•˜ê³ , ìƒìœ„ 5ëª…ì„ ì¶œë ¥í•˜ì‹œì˜¤.  
3-2. ì‚¬ìš©ìë³„ ì£¼ë¬¸ íšŸìˆ˜ë¥¼ êµ¬í•˜ê³ , ê°€ì¥ ì£¼ë¬¸ì„ ë§ì´ í•œ ì‚¬ìš©ìì˜ IDì™€ ì£¼ë¬¸ ìˆ˜ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤.

In [35]:
user_avg_price = orders_df.groupby('user_id')['price'].mean().sort_values(ascending=False).head(5)
print("ìƒìœ„ 5ëª… í‰ê·  ì£¼ë¬¸ ê¸ˆì•¡:\n", user_avg_price)

ìƒìœ„ 5ëª… í‰ê·  ì£¼ë¬¸ ê¸ˆì•¡:
 user_id
4    925000.000000
5    700000.000000
2    650000.000000
1    616666.666667
3     47500.000000
Name: price, dtype: float64

In [36]:
user_order_count = orders_df['user_id'].value_counts()
top_user = user_order_count.idxmax()
print("ê°€ì¥ ì£¼ë¬¸ ë§ì´ í•œ ì‚¬ìš©ì:", top_user, "ì£¼ë¬¸ ìˆ˜:", user_order_count.max())

ê°€ì¥ ì£¼ë¬¸ ë§ì´ í•œ ì‚¬ìš©ì: 1 ì£¼ë¬¸ ìˆ˜: 3

---

### âœ… ë¬¸ì œ 4. ì¹´í…Œê³ ë¦¬ë³„ ì¸ê¸° ìƒí’ˆ ë¶„ì„
4-1. ì¹´í…Œê³ ë¦¬ë³„ë¡œ ì£¼ë¬¸ëŸ‰ì´ ê°€ì¥ ë§ì€ ìƒí’ˆëª…ì„ ì¶œë ¥í•˜ì‹œì˜¤.

In [40]:
cat_order_count = orders_df['category'].value_counts()
print("ê°€ì¥ ì£¼ë¬¸ì´ ë§ì€ ì¹´í…Œê³ ë¦¬ : ", cat_order_count.idxmax())

ê°€ì¥ ì£¼ë¬¸ì´ ë§ì€ ì¹´í…Œê³ ë¦¬ :  Electronics

In [63]:
orders_df.groupby(['category', 'product']).size().reset_index(name='count').sort_values('count', ascending=False).groupby('category').first()

            product  count
category
Accessories   Mouse      2
Electronics      TV      3

In [52]:
top_products = orders_df.groupby(['category', 'product']).size().reset_index(name='count')
top_per_category = top_products.sort_values('count', ascending=False).groupby('category').first()
print("ì¹´í…Œê³ ë¦¬ë³„ ì¸ê¸° ìƒí’ˆ:\n", top_per_category)

ì¹´í…Œê³ ë¦¬ë³„ ì¸ê¸° ìƒí’ˆ:
             product  count
category
Accessories   Mouse      2
Electronics      TV      3

---

### âœ… ë¬¸ì œ 5. ì‚¬ìš©ì ì •ë³´ì™€ ë³‘í•© (merge)
5-1. `orders.csv`ì™€ `users.csv`ë¥¼ `user_id` ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•˜ì‹œì˜¤.  
5-2. ì„±ë³„(`gender`)ë³„ ì´ ì£¼ë¬¸ ê¸ˆì•¡ì˜ í‰ê· ì„ ê³„ì‚°í•˜ì‹œì˜¤.

In [65]:
merged = pd.merge(orders_df, users_df, on='user_id')
merged

,order_id,user_id,product,price,order_date,category,monthly,order_month,age,gender
0,101,1,TV,800000,2024-12-01,Electronics,2024-12,2024-12,25,ë‚¨
1,102,2,Laptop,1200000,2024-12-03,Electronics,2024-12,2024-12,32,ì—¬
2,103,1,TV,750000,2025-01-15,Electronics,2025-01,2025-01,25,ë‚¨
3,104,3,Mouse,50000,2025-01-20,Accessories,2025-01,2025-01,40,ë‚¨
4,105,2,Keyboard,100000,2025-02-10,Accessories,2025-02,2025-02,32,ì—¬
5,106,3,Mouse,45000,2025-02-11,Accessories,2025-02,2025-02,40,ë‚¨
6,107,4,Phone,900000,2025-03-01,Electronics,2025-03,2025-03,28,ì—¬
7,108,4,Phone,950000,2025-03-05,Electronics,2025-03,2025-03,28,ì—¬
8,109,5,TV,700000,2025-03-10,Electronics,2025-03,2025-03,36,ë‚¨
9,110,1,Tablet,300000,2025-04-01,Electronics,2025-04,2025-04,25,ë‚¨

In [72]:
merged.groupby('gender')['price'].mean().astype(int)

gender
ë‚¨    440833
ì—¬    787500
Name: price, dtype: int64

---

### âœ… ë¬¸ì œ 6. í”¼ë²— í…Œì´ë¸” í™œìš©
6-1. ì›”ë³„(`YYYY-MM`)ê³¼ ì„±ë³„(`gender`)ë¡œ êµ¬ë¶„ëœ ë§¤ì¶œ í•©ê³„ë¥¼ í”¼ë²— í…Œì´ë¸”ë¡œ ìƒì„±í•˜ì‹œì˜¤.  
6-2. ë§¤ì¶œì´ ê°€ì¥ ë†’ì•˜ë˜ ì„±ë³„-ì›” ì¡°í•©ê³¼ í•´ë‹¹ ë§¤ì¶œì„ ì¶œë ¥í•˜ì‹œì˜¤.

---

### âœ… ë¬¸ì œ 7. ì‚¬ìš©ì ë“±ê¸‰ ë¶„ë¥˜ (apply)
7-1. ì‚¬ìš©ìë³„ í‰ê·  ì£¼ë¬¸ ê¸ˆì•¡ì„ ê¸°ì¤€ìœ¼ë¡œ ì•„ë˜ ê¸°ì¤€ì— ë”°ë¼ ë“±ê¸‰ì„ ë¶€ì—¬í•˜ì‹œì˜¤:  
- í‰ê·  ì£¼ë¬¸ê¸ˆì•¡ â‰¥ 100,000ì›: `'VIP'`  
- í‰ê·  ì£¼ë¬¸ê¸ˆì•¡ â‰¥ 50,000ì›: `'Gold'`  
- í‰ê·  ì£¼ë¬¸ê¸ˆì•¡ < 50,000ì›: `'Standard'`

7-2. ë“±ê¸‰ì´ í¬í•¨ëœ í…Œì´ë¸”ì„ `user_id`, `grade` ì»¬ëŸ¼ë§Œ ë‚¨ê²¨ ì¶œë ¥í•˜ì‹œì˜¤.

---